@model MvcDemo.Models.Cuenta

@{
    ViewBag.Title = "EditCuenta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EditCuenta</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Cuenta</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdCuenta)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdCuenta)
            @Html.ValidationMessageFor(model => model.IdCuenta)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nombre)
            @Html.ValidationMessageFor(model => model.Nombre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Tipo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Tipo)
            @Html.ValidationMessageFor(model => model.Tipo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Cliente)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Cliente)
            @Html.ValidationMessageFor(model => model.Cliente)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Saldo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Saldo)
            @Html.ValidationMessageFor(model => model.Saldo)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
